/Bundle-CPB1.json
/Bundle-DRB1.json
/CapabilityStatement-BSACapabilityStatement.json
/CarePlan-CP1.json
/CodeSystem-pathway-state.json
/CodeSystem-pathway-substate.json
/CodeSystem-programme-status.json
/DiagnosticReport-DR1.json
/ImplementationGuide-nz.breastscreening.fhir.ig.json
/OperationOutcome-E1.json
/StructureDefinition-BsaCarePlan.json
/StructureDefinition-BsaDiagnosticReport.json
/StructureDefinition-pathway-state-date-last-modified.json
/StructureDefinition-pathway-state.json
/StructureDefinition-pathway-substate.json
/StructureDefinition-programme-status.json
/ValueSet-pathway-state.json
/ValueSet-pathway-substate.json
/ValueSet-programme-status.json
